*{
  padding: 0;
  margin: 0;
}

body{
  font-family: "sans-serif"; "mumblers_demoregular";
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
  width: 95%;
  margin: auto;
  display: flex;
}

#groceries{
  width: 600px;
  min-height: 100vh;
  padding-top: 20px;
  margin:auto;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  background-color: lightpink;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.40);  
}

#title{
  font-size: 1.25rem;
  text-align: center;
}

#input{
  width: 75%;
  display: flex;
  justify-content: center;
}

#input i{
  cursor: pointer;
  font-size: 2rem;
  color: orange;
}

#input input{
  font-family: inherit;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 3px solid black;
}

#all_items{
  font-size: 1.5rem;
  width: 75%;
}

@media(max-width:480px){
  #title{
    font-size: 1rem;
  }

  #input i{
    font-size: 1.5rem;
  }

  #input input{
    font-size: 1rem;
  }

  #all-items{
    font-size: 1rem;
  }
}
